// -- these gradients are used to define each product group so they can be added easily. They are used in the filter buttons, filter titles, table icons and card title icons.

.productgroup--0 {
	&:after {
		@include linear-gradient(-30deg, $teal 0%, $blue-200 100%);
	}
}
.productgroup--1 {
	&:after {
		@include linear-gradient(-30deg, $yellow 0%, $orange 100%);
	}
}
.productgroup--2 {
	&:after {
		@include linear-gradient(-30deg, $green-100 0%, $green-200 100%);
	}
}

.product-icon {
	position:relative;
	display: inline-block;
	vertical-align: middle;
		&--sm {
			width:12px;
			height:12px;
		}
		&--lg{
			width:17px;
			height: 17px;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
}
