.filter {
	align-self: flex-end;
	color:$white;
	display:flex;
	flex-wrap: wrap;
	width: 100%;
}

.filter-bar {
	padding: 0 1rem;
	min-height: 75px;
	flex: 1;
	display: flex;
	align-items: center;
	background:$purple-200;
	h4 {
		display:none;
		@include media($desktop) {
			display: block;
			font-family: $body;
			flex:1 0 auto;
		}
	}
	.btn {
		@include media($desktop) {
			display:none;
		}
	}
	ul {
		display:none;
		@include media($desktop) {
			display:flex;
			flex-wrap:wrap;
		}
		width: 100%;
		list-style: none;
		padding:0;
		margin:1rem 0 0 0;
			li {
				font-size:1.3rem;
				letter-spacing: 1px;
				color:inherit;
				text-decoration: none;
				font-family: $display;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin:0 0 1rem 1rem;
				display:flex;
				align-items: center;


					span:hover {
						background:$purple-200;
						&:before,&:after {
							background:$white;
						}
					}

				&:not(.toggle) {
					position:relative;
					padding:3px 5px 2px 15px;
					background:$purple-200;
					z-index: 1;
					&:before,&:after {
						@include psuedo;
						border-radius: 30px;
					}
						&:after {
							width: 100%;
							height: 100%;
							left:0;
							top: 0;
							z-index: -2;
						}
						&:before {
							width:calc(100% - 3px);
							height:calc(100% - 3px);
							background:$purple-200;
							z-index: -1;
							left:50%;
							top:50%;
							transform:translate(-50%,-50%);
						}
				}

				&.toggle {
					border-radius: 100%;
					width:26px;
					height: 26px;
					align-self: center;
					transition: all .25s linear;
				}
			}

			span {
				@include hide-txt;
				cursor: pointer;
				width:20px;
				height: 20px;
				background:$white;
				border-radius: 100%;
				position: relative;
				transition: all .25s linear;
				&:before,&:after {
					content:'';
					width:10px;
					height: 2px;
					background:$purple-200;
					position: absolute;
					display:block;
					margin-top:-1px;
					margin-left:-5px;
					left:50%;
					top:50%;
					transition: all .25s linear;
					transform:translate(-50%,-50%);
				}
				&.close {
					transform: translate(-1px,-.5px);
					margin-left: 10px;
					&:before {
						transform: rotate(45deg);
					}
					&:after {
						transform: rotate(-45deg);
					}
				}
			}
	}
}
.filter:not(.filter-expanded) {
	.filter-options {
		display:none;
	}
	.toggle {
		border: 1px solid $white;
		transform:translateY(0px);
		.action {
			transform: translate(2px,0px);
			&:before {
				transform: rotate(180deg);
			}
			&:after {
				transform: rotate(90deg);
			}
		}
	}
}

.filter-expanded {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	.btn {
		&:before {
			content:'close ';
		}
	}
	.toggle {
		margin-left: auto;
		border: 1px solid $white;
		@include linear-gradient(10deg, $teal 0%, $blue-200 100%);
		.action {
			transform: translateX(2px);
			background:none;
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

.filter-options {
	width: 100%;
	height: 100%;
	background: $purple-100;
	display:flex;
	align-content: flex-start;
	flex-wrap:wrap;
	padding:1rem;
	@include media($desktop) {
		padding:2rem 1rem;
	}
		p {
			color: $blue-300;
			flex:0 0 100%;
			margin-bottom: 2rem;
		}
		.filter-group {
			flex:1 1 auto;
			display: flex;
			flex-direction:column;

			.input-checkbox {
			  border: 0;
			  clip: rect(0 0 0 0);
			  height: 1px; margin: -1px;
			  overflow: hidden;
			  padding: 0;
			  position: absolute;
			  width: 1px;
			}
			@keyframes draw-checkbox {
			  0% {
			    stroke-dashoffset: 33;
			  }
			  100% {
			    stroke-dashoffset: 0;
			  }
			}
			&-item {
				margin-bottom: 1rem;
				&:not(:first-of-type){
					margin-left: 1rem;
				}
				input:checked + label > svg {
			    // Firefox doesn't render svg's that is loading with the use tag if its been set to display: none and then toggled to display: block, so you have to use tricks like this to get it to render again:
			    height: 24px;
			    animation: draw-checkbox ease-in-out 0.2s forwards;
			  }
				input.productgroup-0:checked + label{
					color:$blue-300;
					&:after{
						border:2px solid transparent;
						@include linear-gradient(-30deg, $teal 0%, $blue-200 100%);
					}
				}

				input.productgroup-1:checked + label{
					color:$orange;
					&:after{
						border:2px solid transparent;
						@include linear-gradient(-30deg, $yellow 0%, $orange 100%);
					}
				}

				input.productgroup-2:checked + label{
					color:$green-100;
					&:after{
						border:2px solid transparent;
						@include linear-gradient(-30deg, $green-100 0%, $green-200 100%);
					}
				}

			  label:active::after {
			    background-color: $grey-100;
			  }

			  label {
			    color: $white;
			    line-height: 0;
			    cursor: pointer;
					font-family: $body-bold;
					text-transform: uppercase;
			    position: relative;
			    &:after {
			      content: "";
			      height: 20px;
			      width: 20px;
			      margin-right: 1rem;
			      float: left;
			      border: 2px solid $white;
			      border-radius: 3px;
			      transition: 0.15s all ease-out;
			    }
			  }
			  svg {
			    stroke: $white;
			    stroke-width: 2px;
			    height: 0; //Firefox fix
			    width: 12px;
			    position: absolute;
			    left: -32px;
			    top: -3px;
			    stroke-dasharray: 33; //Firefox fix
			  }
			}

}
}
