.header-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@include media($mobile-up){
		position: fixed;
	}
	top:0;
	left:0;
	z-index: 1000;
	width: 100%;
	@include media($tablet) {
		justify-content: space-between;
	}
	.logo {
		transition:all .25s linear;
		transform : translate3d(0, 0, 0);
		will-change: auto;
	}
	&.scroll {
		padding:.85rem;
		background: $white;
		box-shadow: 1px 1px 10px rgba($blue-300, 0.1);
		.logo {
			max-width: 220px;
		}
		.nav-main a:hover:after {
			@include media($tablet) {
				bottom:-1.2rem;
			}
		}
	}
	&:not(.scroll) {
		padding:1rem;
		background:rgba(255,255,255,0.7);
		.logo {
			max-width: 300px;
		}
		.nav-main a:hover:after {
			@include media($tablet) {
				bottom:-2rem;
			}
		}
	}

}//header

.nav-main {
	display:none;
	@include media($mobile-up) {
		display:flex;
	}
	@include media($tablet) {
		justify-content: flex-end;
		width:auto;
	}
	@include media($tablet-down) {
		justify-content: space-around;
		margin-top:1rem;
		width:100%;
	}
}//nav-main

.nav-main__link {
	font-family: $display;
	text-transform: uppercase;
	@include font-size(20);
	text-decoration: none;
	color:$blue-400;
	letter-spacing: 1px;
	position:relative;

		&:not(:first-child) {
			margin-left:1rem;
		}

			&:after {
				content:'';
				width:100%;
				height:5px;
				@include linear-gradient(42deg, $teal 0%, $blue-200 100%);
				display:block;
				@include fancy-hover;
			}

			&:hover {
				&:after {
					opacity: 1;
					bottom: -1rem;
				}
			}
	}//a
