body {
	@include media($desktop) {
		background:url('assets/masthead-bg-full.svg') repeat-y;
	}
}
.page-section {
	background: $blue-100;
	padding-top: 4rem;

	&__header {
		margin-bottom: 2rem;
		@include media($desktop) {
			margin-bottom: 4rem;
		}
		display:flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content:space-between;
		padding:2.5% 2.5% 2.5% 8%;
		@include linear-gradient(to right,$grey-100, $grey-150 7%, $grey-100 50%, $grey-100 70%, $grey-150 );
		position:relative;
		color:$grey-400;
		text-transform: capitalize;
		@include media($mobile-up) {
			justify-content: flex-start;
			padding:.5rem 2rem;
		}
			&:before {
				@include psuedo;
				@include linear-gradient(10deg, $teal 0%, $blue-200 100%);
				width: 15px;
				left:0;
				top: 0;
				height:100%;
				-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
				clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
			}
	&__page-count {
		width:100%;
		margin:2.5% 0 0 0;
		@include media($mobile-up) {
			margin:0 0 0 auto;
			width:auto;
		}
	}
	}//header

	&__message{
		text-align: center;
		color: $blue-300;
	}
}//page-section


// --------- feature table

.status-table  {
	width:calc(100% - 2rem);
	margin: 0 auto;
	background: $white;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 0px 4px 6px rgba($grey-500, .02),
							 0px 8px 13px rgba($grey-500,.02),
							 0px 18px 23px rgba($grey-500,.02);


	thead {
		text-align:left;
		background:$grey-100;
		}
	th {
		padding:1rem 0;
		&:nth-of-type(-n+2) {
			padding-left:1.5rem;
		}
		&:nth-last-of-type(-n+2) {
			text-align: right;
		}
		&:last-of-type {
			padding-right: 1.5rem;
		}
	}//th
	tr {
		&:not(:last-of-type) {
			border-bottom: 1px solid $grey-100;
		}
	}//tr
	td {
		padding:.5rem;
		text-transform: capitalize;
		&:nth-of-type(2){
			font-family: $body-bold;
			color:$grey-400;
		}
		@include media($mobile-up) {
			&:not(:nth-of-type(3)){
				padding:1.5rem;
			}
			&:nth-of-type(3){
				padding:1.5rem 1.5rem 1.5rem 0;
			}
		}
		@include media($mobile-up) {
			&:nth-last-of-type(-n+2) {
				text-align: right;
				width:15%;
			}
			&:last-of-type {
				text-transform: uppercase;
			}
			&:nth-of-type(2){
				width: 25%;
			}
		}

	}//td
	.product-icon{
		margin-right: 5px;
		// position: absolute;
		// left:1.5rem;
		// top:50%;
		// transform:translateY(-50%);
	}
	a {
		color:$blue-300;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $body-bold;
		transition: color .25s linear;
			&:hover {
				color:$red;
			}
	}//a
	.status {
		color:$grey-300;
		font-family: $body-bold;
		text-transform: capitalize;
		position: relative;
			&:after {
				@include psuedo;
				width: 16px;
				height: 18px;
				right:20px;
				transform: translateY(-50%);
				top: 50%;
				@include media($mobile-up) {
					right: 0;
				}
			}
			&--inprogress {
				&:after {
					background:url('assets/icon-sprite.svg') 0 -1px no-repeat;
				}
			}
			&--released {
				&:after {
					background:url('assets/icon-sprite.svg') 0 -22px no-repeat;
				}
			}
			&--blocked {
				&:after {
					background:url('assets/icon-sprite.svg') 0 -43px no-repeat;
				}
			}
	}//.status

//this is just for mobile to break the table down.
	@include media($mobile-down) {
	 thead {
	   border: none;
	   clip: rect(0 0 0 0);
	   height: 1px;
	   margin: -1px;
	   overflow: hidden;
	   padding: 0;
	   position: absolute;
	   width: 1px;
	 }
	 td {
     display: block;
     text-align: left;
		 &:first-of-type {
			 background: $grey-100;
		 }
		 &:last-of-type {
			 border: none;
		 }
		 &:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
  		width:100%;
  		text-align: left;
			font-family: $body-bold;
			color:$grey-500;
		}
	 }
 }

}//status-table

// ----- pagination for cards

.cards__pagination {
	display: flex;
	@include media($mobile-up) {
		margin: 0 1rem;
	}

}

.lazy-load {
	width: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding:3rem 0;
	.btn {
		margin-top: 1rem;
	}
}

// ----- utility classes


.ellipsis{//this is a really ugly way to get the tool tip to work with the truncated text.
		width:100%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
}
