@keyframes left-bubble {
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes right-bubble {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes move-up{
  from {
      transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}

@keyframes move-down{
  from {
      transform: translateY(0);
  }
  to {
    transform: translateY(4rem);
  }
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadein{
  animation: fadein 2s;
}
